<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorm.manage.mapper.BedAssignLogMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_bed_assign_log (student_id, old_bed_id, new_bed_id, assign_user_id, assign_time, remark)
        VALUES (#{studentId}, #{oldBedId}, #{newBedId}, #{assignUserId}, #{assignTime}, #{remark})
    </insert>
</mapper>
